*/*.o
*/*.slog2
dotnet/tp1_process/tp1_process/bin
dotnet/tp1_process/tp1_process/obj
dotnet/tp2_threads/tp2_thread/bin
dotnet/tp2_threads/tp2_thread/obj
dotnet/tp2_threads/Premier/obj/
dotnet/tp2_threads/Premier/bin/
dotnet/tp2_threads/WpfCustomControlLibrary_balloon/bin/
dotnet/tp2_threads/WpfCustomControlLibrary_balloon/obj/
dotnet/remote_chat/WPFClient/obj/
dotnet/remote_chat/WPFClient/bin/
dotnet/remote_chat/Interface/obj/
dotnet/remote_chat/Interface/bin/
dotnet/remote_chat/Server/obj/
dotnet/remote_chat/Server/bin/
